
{{>nav}}

<h1>Deal Details</h1>

<form action="/deal/{{resul._id}}/details">
<div class="card mb-3" style="max-height: 25rem;">
  <div class="row g-0 h-80">
    <div class="col-md-4">
      <img src="{{result.filepath}}" class="img-fluid rounded " alt="..." style="max-width: 25rem;">
    </div>
    <br>
    <div class="col-md-8 h-50 rem" style="max-width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">{{result.title}}</h5>
        <p class="card-text">{{result.description}}</p>
        <p class="card-text" class="text-muted">{{result.location}}</p>
        <br>
             
             {{#if user.isAdmin}}
  <form action="/deals/{{result._id}}/delete" method="POST" > 
  <button type="submit" class="btn btn-primary text-dark">Delete</button>
  </form>
   {{/if}}  
             
      </div>
    </div>
  
  </div>
</div>
</form>
