{{>nav}}

<h1>DETAILS</h1>

{{!-- <div class="card" style="width: 18rem;">
  <img src="{{filepath}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{location}}</p>
    <p class="card-text">{{creator.username}}</p>
  </div>
</div>
</div> --}}
<form action="/deal/{{resul._id}}/details">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{result.filepath}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{result.title}}</h5>
        <p class="card-text">{{result.description}}</p>
        <p class="card-text" class="text-muted">{{result.location}}</p>
        <br>
             
            {{#if isAdmin}}
            <h1>puto boton</h1>
  <form action="/deals/{{result._id}}/delete" method="POST" > 
  <button type="submit" class="btn btn-primary text-dark">Delete</button>
  </form>
  {{/if}} 
             
 

        {{!-- <button type="button" class="btn btn-secondary"></button> --}}
      </div>
    </div>
  
  </div>
</div>
<a href="/deals/home">Home</a>
</form>
